In [3]:
print("Hello world")

Hello world

In [4]:
Print("Hello world") # python case sensitive bir dildir.

NameError: name 'Print' is not defined

In [6]:
print("Bugün python ile ilk kodu yazdık")

Bugün python ile ilk kodu yazdık

In [7]:
print("Bugün python ile ilk kodu yazdık") # ilk kodu yazdım ve doğru bir şekilde çalıştı.

Bugün python ile ilk kodu yazdık

In [1]:
print(Bugün python ile ilk kodu yazdık)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (358474514.py, line 1)

# Data Types

### string

In [2]:
print("string ifadeler tırnak işareti içerisinde olur")

string ifadeler tırnak işareti içerisinde olur

In [3]:
print('string ifadeler tırnak işareti içerisinde olur')

string ifadeler tırnak işareti içerisinde olur

In [4]:
print('I'm a python teacher')

SyntaxError: unterminated string literal (detected at line 1) (256345490.py, line 1)

In [5]:
print("I'm a python teacher")

I'm a python teacher

### int

In [6]:
age = 32

In [7]:
print(age)

32

### float

In [9]:
pi = 3.14

In [10]:
print(pi)

3.14

### boolean

In [11]:
print(True) # 1

True

In [12]:
print(False) # 0

False

# Variables

In [13]:
name = "Sedat"

In [14]:
age1 = 35

In [15]:
1age = 36 # değişkenler tanımlanırken rakamla başlamazlar.

SyntaxError: invalid decimal literal (2754818002.py, line 1)

In [16]:
name_2 = "Cihan"

In [17]:
name3 = "Mustafa"

In [20]:
$name4 = "inci"

SyntaxError: invalid syntax (1074207013.py, line 1)

In [21]:
name_5 , name_6 = "Gökhan" , "Demet"

In [22]:
print(name_5,name_6)

Gökhan Demet

In [23]:
name_7 = "Duygu"
name_8 = "Marcus"
age_2 = 30

In [24]:
print(name_2)

Cihan

In [25]:
del name_2

In [26]:
print(name_2)

NameError: name 'name_2' is not defined

In [27]:
print(name_8)

Marcus

In [28]:
name_8 = "Marcus Hoca"

In [29]:
print(name_8)

Marcus Hoca

# Type Conversion

In [30]:
age = 40

In [31]:
age + 10

50

In [32]:
type(age)

int

In [33]:
type("40")

str

In [34]:
type(3.14)

float

In [35]:
type(False)

bool

In [36]:
str(age)

'40'

In [37]:
type(age)

int

In [38]:
str_age = str(age)

In [39]:
type(str_age)

str

In [40]:
type(age)

int

In [41]:
pi_number = 3.14

In [42]:
str(pi_number)

'3.14'

In [43]:
str(False)

'False'

In [44]:
str_age

'40'

In [45]:
print(str_age)

40

In [46]:
type(str_age)

str

In [47]:
age

40

In [48]:
float(age)

40.0

In [49]:
pi_number

3.14

In [50]:
int(pi_number)

3

In [51]:
int(3.9)

3

In [52]:
int(4.999)

4

In [53]:
int(0.1)

0

In [54]:
float("üçnoktaondört")

ValueError: could not convert string to float: 'üçnoktaondört'

In [55]:
float("3.14")

3.14

In [56]:
int("45")

45

In [57]:
int("3.14")

ValueError: invalid literal for int() with base 10: '3.14'

In [58]:
bool(False)

False

In [59]:
bool(0)

False

In [60]:
bool(1)

True

In [61]:
float(True)

1.0

In [66]:
person = "Fatih"
age = 26
department = "Data scientist"
person = "Ahmet"
age = 35
department = "web developer"
salary = 160000

In [67]:
print(person)
print(department)
print(salary)
print(age)

Ahmet
web developer
160000
35

# Arithmetic Operations

In [68]:
3 + 5

8

In [69]:
print(85 - 45)

40

In [70]:
4 * 5

20

In [71]:
20 / 5

4.0

In [75]:
int(20 / 5)

4

In [72]:
20 / 6

3.3333333333333335

In [76]:
9 - 3.4

5.6

In [78]:
9 - 3

6

In [77]:
9 - 3.0

6.0

In [85]:
2.4 * 5

12.0

In [86]:
4 ** 2 # üs alma işlemi ** ile yapılır

16

In [87]:
4 ** 3

64

In [88]:
2 ** 2.0

4.0

In [89]:
20 / 6

3.3333333333333335

In [90]:
20 // 6

3

In [91]:
20 % 6

2

In [95]:
40 // 3

13

In [96]:
40 % 3

1

In [97]:
40 // 3.0

13.0

In [98]:
x = (4 + 7) ** (4 ** (1 * 2 / 2) / 2)
print(x)

121.0

### yarıçapı 7 olan bir dairenin alanını bulan python kodunu yazın.

In [99]:
r = 7
pi = 3.14
alan = pi * r ** 2

print("dairenin alanı:", alan)

dairenin alanı: 153.86

### bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenüsü kaçtır?

In [100]:
64 ** 0.5

8.0

In [ ]:
a ** 2 + b ** 2 = c ** 2

In [101]:
kenar_1 = 5
kenar_2 = 12
hyp = (kenar_1 ** 2 + kenar_2 ** 2) ** 0.5

print("bir kenarı 5, diğer kenarı 12 olan üçgenin hipotenüsü:", hyp, "dir")

bir kenarı 5, diğer kenarı 12 olan üçgenin hipotenüsü: 13.0 dir

# round() fonksiyonu

In [102]:
int(5.99)

5

In [103]:
round(5.99)

6

In [104]:
round(5.51)

6

In [105]:
round(5.49)

5

In [106]:
round(5.5)

6

In [107]:
round(4.5)

4

# Comparison Operators

In [108]:
print(5 > 4)

True

In [109]:
4 > 6

False

In [110]:
int(4 > 6)

0

In [111]:
7 = 7

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1070449745.py, line 1)

In [112]:
7 == 7

True

In [113]:
7 != 8 # != ifadesi eşit değildir anlamına gelir.

True

In [114]:
7 != 7

False

In [115]:
4 < 7

True

In [116]:
4 <= 8

True

In [117]:
8 <= 8

True

In [118]:
9 <= 8

False

In [119]:
9 >= 7

True